
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/*
font-family: 'Josefin Sans', sans-serif;
*/




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url('./images/bg-pattern-desktop.svg');

}


header {

    margin-top: 30px;
    margin-left: 200px;
}


 .container {

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box1 {

   position: relative;
   top: -50px;
   left: 75px;
    


}

.headline {

 font-size: 25px;
 white-space: pre;
 letter-spacing: 15px;
}

span {

    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 36%, 70%);
    font-weight: 300;

}

.para1 {

    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    white-space: pre;
    line-height: 25px;
    margin-top: -40px;
    margin-right: 10px;
}

.box2-desktop img {

    
    height: 100vh;
    width: 85vh;
   position: relative;
   top: -80px;
   right: -120px;
   width: 100%;
   height: 100%;
}

.box2-mobile {

    display: none;
}


.error-state:invalid {

 
border: 2px solid hsl(0, 93%, 68%);

}


::placeholder {

    color: hsl(0, 36%, 70%);

}

.submit-button {
 
    
    height: 7vh;
    width: 11vh;
    border-radius: 25px;
    background-image: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%) );
    border: none;
    position: relative;
    bottom: -3px;
    left: -30px;
    /*
    position: absolute;
    bottom: 30;
    left: 30;
    */
    
    box-shadow: 0px 0px 5px 0px hsl(0, 36%, 70%);
}

.submit-button:hover {

    opacity: 3.0;
    background-image: linear-gradient( 135deg, hsl(0, 80%, 65%), hsl(0, 74%, 66%) );
}


input {
 
    height: 5vh;
    width: 40vh;
    border-radius: 25px;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: transparent;
    
}




.icon-error {

    

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    display: none;
    
    /*
    position: absolute;
    bottom: 115px;
    right: 840px;
    */

}



.valid-error {
  
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    color: hsl(0, 93%, 68%);
    margin-top: 20px;
    margin-left: 20px;
    display: none;
    /*
    position: absolute;
    bottom: 90px;
    right: 925px;
    */
}


@media screen and (max-width: 768px){


     header {

        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 20vh;
        height: auto;
       margin-left: 10px;
     }

     

     .box2-mobile  {

       
        display: flex;
        flex-direction: column;
        display: block;
        margin-top: 30px;
        
     }
  
     .box2-desktop {
         
        display: none;
     }
   
     .headline {

        text-align: center;
        display: flex;
        flex-direction: flex-start;
        margin-top: 70px;

     }
     
     .para1 {
        
        text-align: center;
        display: flex;
        flex-direction: flex-start;
        

     }
     


}




